html, body {
  background: rgb(22, 24, 24);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  border-radius: 50%;
}

